{# Liste de tous les livres avec titre, année et auteur #}
{% extends 'base.html.twig' %}

{% block title %}{{ 'book.list.title'|trans }}{% endblock %}

{% block body %}

    {# === TITRE DE LA PAGE === #}
    <h2 class="text-center text-danger my-3">{{ 'book.list.title'|trans }}</h2>

    {# === TABLEAU DES LIVRES === #}
    {# Affiche tous les livres avec lien vers la page de détail #}
    <div class="d-flex justify-content-center">
        <table class="table table-bordered border-primary w-75 text-center">
        <thead>
            <tr class="table-primary border-primary">
            <th scope="col">{{ 'book.title'|trans }}</th>
            <th scope="col">{{ 'book.year'|trans }}</th>
            <th scope="col">{{ 'book.author'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
            <td><a href="{{ path('book_detail', {'bookId': book.id}) }}" data-turbo="false">{{ book.title }}</a></td>
            <td>{{ book.year }}</td>
            <td>{{ book.author ? book.author.firstname ~ ' ' ~ book.author.lastname : 'N/A' }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>

{% endblock %}
