{# Liste de tous les marque-pages avec URL et commentaire #}
{% extends 'base.html.twig' %}

{% block title %}{{ 'bookmark.list.title'|trans }}{% endblock %}

{% block body %}

    {# === TITRE DE LA PAGE === #}
    <h2 class="text-center text-danger my-3">{{ 'bookmark.list.title'|trans }}</h2>

    {# === TABLEAU DES MARQUE-PAGES === #}
    {# Affiche tous les marque-pages avec lien vers la page de détail #}
    <div class="d-flex justify-content-center">
        <table class="table table-bordered border-primary w-50 text-center">
        <thead>
            <tr class="table-primary border-primary">
            <th scope="col">{{ 'bookmark.url'|trans }}</th>
            <th scope="col">{{ 'bookmark.comment'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for bookmark in bookmarks %}
            <tr>
            <td><a href="{{ path('bookmark_detail', {'bookmarkId': bookmark.id}) }}" data-turbo="false">{{ bookmark.url }}</a></td>
            <td>{{ bookmark.comment }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>

{% endblock %}
